*,
*::after,
*::before{
    padding: 0;
    margin: 0;
}
.container{
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}


body{
    font-family: 'Crimson Text', serif;
    font-size: 14px;
    line-height: 20px;
    color: #3e3d3d;
}
ul,
li{
    list-style: none;
}

a{
    text-decoration: none;
}

