*,
*::after,
*::before{
    padding: 0;
    margin: 0;

}
.container{
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.container-fluid{
	max-width: 1920px;
	margin: 0 auto;
	padding: 0 10px;
}

body{
    font-family: 'Crimson Text', serif;
    font-size: 14px;
    line-height: 20px;
    color: #3e3d3d;
}
ul,
li{
    list-style: none;
}

a{
    text-decoration: none;
    display: inline-block;
}

h1,h2,h3,h4,h5,h6{
    font-size: inherit;
    margin: 0;
}

.btn{
    min-width: 130px;
    padding: 8px 0;
    border: 2px solid #3e3d3d;
    text-align: center;
    @extend %msemibold;
    cursor: pointer;
}

.title{
        @extend %amsdam;
        font-size: 20px;
        line-height: 25px;
        padding-bottom: 25px;
        margin-bottom: 35px;
        text-align: center;
        text-transform: uppercase;
        position: relative;
    &::after{
    position: absolute;
    content: '';
    width: 186px;
    height: 5px;
    background-image: url(../images/title-line.png);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    }
}

.icons--facebook{
    padding-right: 6px;
    position: relative;
    &::after{
        content: "";
        position: absolute;
        width: 2px;
        height: 12px;
        background-color: #3e3d3d;
        right: 0;
        bottom: 1px;
    }
}
.icons--instagram{
    padding-right: 6px;
    position: relative;
    &::after{
        content: "";
        position: absolute;
        width: 2px;
        height: 12px;
        background-color: #3e3d3d;
        right: 0;
        bottom: 1px;
    }
}