@media(max-width:1250px){
    .history__wrapper{
        display: block;
    }
    .history__left-box{
        width: 100%;
        box-sizing: border-box;
    }
    .history__right-box{
        width: 100%;
        box-sizing: border-box;
    }
    .history__left-box{
        height: 100%;
        padding: 20px 20px 30px 20px;
    }
    .history__right-box {
        padding: 20px 20px 30px 20px;
    }
    .history__text::after{
        display: none;
    }
    .history__text::before{
        display: none;
    }
    .history__right-box::after{
        display: none;
    }
    .history__left-box::after{
        display: none;
    }
    .history__left-box::before{
        display: none;
    }
    .history__right-box::before{
        display: none;
    }
    .history__left-box:nth-child(2){
        margin-bottom: 25px;
    }
    .history__text{
        margin: 0 auto 80px;
    }
    .history__right-box{
        margin-top: 0;
        margin-bottom: 25px;
    }
    .history__right-box:nth-child(2){
        margin-bottom: 25px;
    }
    .footer__inner{
        display: block;
    }
    .footer__input{
        margin-left: 0;
    }
    .footer__box-info{
        max-width: 100%;
    }
    .footer__btn{
        margin-bottom: 50px;
    }
    .footer__logo-link{
        text-align: center;
        display: block;
    }
    .footer__btn {
        display: block;
        margin: 0 auto 50px;
    }
    .footer__input{
        width: 100%;
    }
    .footer__input-item{
        width: 100%;
    }
    
}

@media(max-width:1100px){
    .header__logo-link{
        z-index: 5;
    }
    .menu__list{
        display: block;
        text-align: center;
        position: absolute;
        top: -150%;
        height:369px;
        background-color: #fff;
        left: 0;
        right: 0;
        z-index: 1;
        margin-left: 0;
        transition: all .3s;
        padding-top: 50px;
        z-index: 2;
    }
    .menu__list-active{
        top: 0;
    }
    .header__button{
      margin-left: 8px;
      cursor: pointer;
      z-index: 3;
      position: relative;
      span{
          position: absolute;
          display: block;
          height: 2px;
          z-index: 1;
          width: 100%;
          background-color: #aaa;
          transition: all .3s;  
        }
        span:first-child(){
            top: 0;
        }
        span:last-child(){
            bottom: 0;
        } 
        span:nth-child(1).active{
            transform: rotate(-135deg);
        top: 12px;
    }
    span:nth-child(2).active{
        transition: all .0s;  
        width: 0;
     } 
    span:nth-child(3).active{
        transform: rotate(135deg);
        top: 12px;
     } 

    }
    .menu__lists{
        border-bottom: 1px solid #aaa;
        z-index: 2;
        background-color: #fff; 
    }
    .menu__lists:first-child{
        border-top: 1px solid #aaa;
    }
    .menu__lists:last-child{
        border-bottom: none;
    }
    .menu__lists+.menu__lists{
        padding-left: 0;
    }
    .menu__link{
        display: block;
        padding: 10px 0;
        transition: background-color .1s;
        &:hover{
            background-color: #aaa;
            color: #fff;
        }
    }
    .header__icons{
        z-index: 2;
    }
    .aboutus__boxsub{
        border-right: none;
        position: relative;
        padding: 25px 93px;
        &::after{
            position: absolute;
            content: '';
            width: 220px;
            height: 1px;
            background-color: #b0b0b0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: 0 auto;
        }
    }
    .aboutus__inner{
        padding-bottom: 50px;
    }
    .portfolio__inner{
        margin-left: 60px;
    }
}

@media(max-width:900px){
    .portfolio__box-img{
        width: 300px;
    }
}


@media(max-width:800px){
    .header__arrow{
        top: 65%;
    }
    .header__arrow-prev {
        left: 38%;
    }
    .header__arrow-next {
        right: 35%;
    }
    .header__slider{
        align-items: end;
    }
    .header__slider-box {
        text-align: center;
        padding: 110px 10px 110px 10px;
    }
    .info__inner{
        display: block;
    }
    .info__box{
        max-width: 100%;
        margin-right: 0;
    }
    .info__text{
        margin-bottom: 20px;
    }
    .info__btn{
        display: block;
        width: 130px;
        margin: 0 auto;
    }
    .info__img {
        margin: 0 auto;
        display: block;
        margin-bottom: 16px;
    }
    .info__inner{
        text-align: center;
    }
    .map::before {
        display: none;
    }
    .portfolio__box-img {
        width: 300px;
    }
  
}
@media(max-width:700px){
    .portfolio__box-img {
        width: 250px;
    }
}

@media(max-width:600px){
    .header__slider-title::after{
        width: 350px;
    }
    .header__slider-title{
        font-size: 25px;
    }
    .aboutus__btnone{
        margin: 0 7px 10px;
    }
    .aboutus__btntwo{
        margin: 0 7px 10px;
    }
    .portfolio__inner {
        margin-left: 25px;
    }
    .portfolio__box-img {
        width: 220px;
    }
    .portfolio__buttons-btn{
        margin-bottom: 20px;
    }
    .prices__box-title::before{
        display: none;
    }
    .prices__box-title::after{
        display: none;
    }
    .header__slider-title::after {
        width: 240px;
    }
}

@media(max-width:500px){
    .portfolio__box-img {
        width: 200px;
    }
}
@media(max-width:450px){
    .portfolio__box-img {
        width: 170px;
    }
    
}

@media(max-width:400px){
    .header__slider{
        max-height: 100vh;
    }
    .header__slider-title::after {
        width: 240px;
    }
    .header__slider-title {
        font-size: 20px;
    }
    .header__logo-img {
        width: 140px;
    }
    .header__arrow-next {
        right: 33%;
    }
    .header__slider-title::after {
    width: 227px;
    }
    .services{
        margin-bottom: 50px;
    }
    .history__wrapper{
        margin-bottom: 50px;
    }
    .portfolio__inner {
        margin-left: 20px;
    }
    .portfolio__box-img {
        width: 150px;
    }
    .prices__num span{
        left: 50px;
    }
    .prices__box {
        margin: 0 15px 50px;
    }
    .blog__box-info{
        overflow: auto;
    }
    .map::before {
        right: 100px;
    }
    .clients{
        margin-bottom: 50px;
    }

}

@media(max-width:350px){
    .portfolio__inner{
        margin-left: 5px;
    }
    .portfolio__box-img {
        width: 140px;
    }
}