%amsdam{
    font-family:'Amsdam Regular', sans-serif;
    font-weight: 400;
}

%mreg{
    font-family: 'Montserrat', sans-serif; 
    font-weight: 400;
}
%mbold{
    font-family: 'Montserrat', sans-serif; 
    font-weight: 700;
}
%msemibold{
    font-family: 'Montserrat', sans-serif; 
    font-weight: 600;
}

%crimsonreg{
    font-family: 'Crimson Text', serif;
    font-weight: 400;
}

