%Amsdam{
    font-family:'Amsdam', sans-serif;
    font-weight: 400;
}

%mreg{
    font-family: 'Montserrat', sans-serif; 
    font-weight: 400;
}
%mbold{
    font-family: 'Montserrat', sans-serif; 
    font-weight: 700;
}

%crimosreg{
    font-family: 'Crimson Text', serif;
    font-weight: 400;
}

