@import "vars";
@import "libs";
@import "fonts";
@import "global";


.header{
    &__top{
        display: flex;
        align-items: center;
        min-height: 60px;
    }
    &__button{
        width: 25px;
        height: 25px;
        background-color: transparent;
        order: 1;
        border: none;
        
    }
    &__icons{
        margin-left: auto;
    }
    &__icons-facebook{
        padding-right: 10px;
        position: relative;
        &::after{
            content: "";
            position: absolute;
            width: 2px;
            height: 10px;
            background-color: #aaa;
            right: 0;
            bottom: 4px;
        }
    }
    &__icons-tweter{
        padding-right: 10px;
        position: relative;
        &::after{
            content: "";
            position: absolute;
            width: 2px;
            height: 10px;
            background-color: #aaa;
            right: 4px;
            bottom: 4px;
        }
    }
    
    &__slider{
        min-height: 630px;
        display: flex;
        align-items: center;
        background-size: cover;
        background-position: center;
        color: #fff;
    }
    &__slider-box{
        text-align: center;
        padding: 190px 10px 160px 10px;
    }
    &__slider-text{
        @extend %crimsonreg;
        margin-bottom: 20px;
    }
    &__slider-title{
        @extend %amsdam;
        padding-top: 35px;
        margin-bottom: 60px;
        font-size: 35px;
        line-height: 40px;
        position: relative;
        text-transform: uppercase;
        &::after{
            content: '';
            position: absolute;
            background-image: url(../images/header-line.png);
            width: 516px;
            height: 109px;
            left: 50%;
            top: 0;
            transform: translateX(-50%);
        }
    }
    &__slider-btn{
        min-width: 148px;
        border: 2px solid #fff;
        color: #fff;
        @extend %msemibold;
        padding: 13px 0;
        position: relative;
        &::after{
            position: absolute;
            content: '';
            background-image: url(../images/header__line-2.png);
            left: 50%;
            transform: translateX(-50%);
            width: 15px;
            height: 50px;
            top: 40px;
        }
    }
    &__arrow{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: transparent;
        border: none;
        cursor: pointer;
        z-index: 1;
    }
    &__arrow-next{
        right: 70px;
    }
    &__arrow-prev{
        left: 70px;
    }
}

.menu{
    &__list{
        display: flex;
        margin-left: 100px;
    }
    &__lists{
        text-transform: uppercase;
    }
    &__link{
        color: #aaa;
        @extend %mbold;
    }
    &__lists + .menu__lists{
        padding-left: 15px;
    }
}


.aboutus{
    background-color: #e3e3e3;
    &__wrapper{
        padding-top: 60px;
    }
    &__img{
        object-fit: cover;
        object-position: center;
        width: 100%;
        max-height: 325px;
        height: 100%;
    }
    &__boxtop{
        background-color: #fff;
        margin: -5px 0;
        padding: 50px 0;
        
    }
   
    &__text{
        text-align: center;
        max-width: 1030px;
        margin: 0 auto 40px;
        padding: 0 11px;
    }
    &__btn{
        text-align: center;
    }
    &__btnone{
        color: #3e3d3d;
        margin-bottom: 10px;
        transition: background-color .3s;
        &:hover{
            background-color: #3e3d3d;
            color: #fff;
        }
    }
    &__btntwo{
        color: #3e3d3d;
        margin-bottom: 10px;
        transition: background-color .3s;
        &:hover{
            background-color: #3e3d3d;
            color: #fff;
        }
    }
    &__inner{
        display: flex;
        padding-bottom: 10px;
        flex-wrap: wrap;
        padding-top: 60px;
    }
    &__boxsub{
        text-align: center;
        width: 80px;
         max-width: 100%;
        margin: 0 auto;
        padding: 0 80px;
        text-transform: uppercase;
        @extend %msemibold;
        padding-bottom: 25px;
        padding-top: 25px;
        border-right: 1px solid #b0b0b0;
    }
    &__boxsub-img{
        margin-bottom: 20px;
    }
    &__boxsub-text{
        margin-bottom: 30px;
    }
    &__boxsub-num{
        font-size: 45px;
        line-height: 50px;
        @extend %msemibold;
    }
    &__boxsub:last-child{
        border-right: none;
    }
}


.services{
    color: #d8d8d8;
    padding-top: 60px;
    background-size: cover;
    background-position: center;
    margin-bottom: 70px;
    &__title{
        text-align: center;
        position: relative;
        @extend %amsdam;
        padding-bottom: 25px;
        margin-bottom: 35px;
        &::after{
            content: "";
            position: absolute;
            background-image: url(../images/services-line.png);
            width: 186px;
            height: 5px;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &__text{
        text-align: center;
        max-width: 870px;
        margin: 0 auto 75px;
    }
    &__inner{
        text-align: center;
        display: flex;
        flex-wrap: wrap;
    }
    &__box-title{
        width: 100px;
        margin: 0 auto 20px;
        @extend %msemibold;
    }
    &__box-inner{
        margin: 0 auto 10px;
    }
    &__box{
        max-width: 200px;
        padding: 50px 30px;
        border-right: 1px solid #898989;
        border-left: 1px solid #898989;
        border-bottom: 1px solid #898989;
        margin: 0 10px 80px;
        position: relative;
        &::after{
            position: absolute;
            content: '';
            width: 40%;
            height: 1px;
            left: 0;
            background-color: #898989;
            top: 0;
         }        
         &::before{
            position: absolute;
            content: '';
            width: 40%;
            height: 1px;
            right: 0;
            background-color: #898989;
            top: 0;
         }
        
    }
    &__box-img{
        position: absolute;
        top: 0;
        transform: translate(-50%,-50%)
    } 
}

.history{
    background-color: #ededed;
    &__text{
        text-align: center;
        max-width: 820px;
        margin: 0 auto 160px;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            width: 2px;
            background-color: #464646;
            height: 1080px;
            left: 50%;
            top: 153px;
        }
        &::before{
            content: '2015';
            position: absolute;
            width: 70px;
            height: 70px;
            border: 2px solid #000;
            border-radius:50% ;
            top: 81px;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            justify-content: center;
            align-items: center;
            @extend %msemibold;
        }
    }
    &__wrapper{
        display: flex;
        margin-bottom: 70px;
    }
    &__left-box{
        width: 470px;
        height: 145px;
        padding: 30px 60px 30px 20px;
        border: 2px solid #464646;
        margin-bottom: 25px;
        margin-right: 90px;
        position: relative;
        transition:background-color .3s;
        &::after{
            content: '';
            position: absolute;
            width: 17px;
            height: 17px;
            border-radius: 50%;
            background-color: #464646;
            right: -57px;
            top: 0;
        }
        &::before{
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            top: 10px;
            right: -12px;
            border-right: 10px solid transparent;
            border-top: 10px solid #464646;
        }
        &:hover{
            background-color: #464646;
            color: #fff;
        }
    }
    &__left-box:nth-child(2){
        margin-bottom: 250px;
    }

    &__left-title{
        @extend %msemibold;
        text-transform: uppercase;
    }
    &__left-data{
        @extend %msemibold;
        font-size: 11px;
        line-height: 15px;
        margin-bottom: 30px;
    }
 
    &__right-box{
        width: 480px;
        padding: 20px 15px 30px 55px;
        border: 2px solid #464646;
        margin-bottom: 80px;
        margin-top: 40px;
        position: relative;
        transition:background-color .3s;
        &::after{
            content: '';
            position: absolute;
            width: 17px;
            height: 17px;
            border-radius: 50%;
            background-color: #464646;
            left: -54px;
            top: 0;
        }
        &::before{
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            top: 10px;
            left: -12px;
            border-top: 10px solid #464646;
            border-left: 10px solid transparent;
           
        }
        &:hover{
            background-color: #464646;
            color: #fff;
        }
    }
    &__right-box:nth-child(2){
        margin-bottom: 180px;
    }
    &__right-title{
        @extend %msemibold;
        text-transform: uppercase;
    }
    &__right-data{
        @extend %msemibold;
        font-size: 11px;
        line-height: 15px;
        margin-bottom: 30px;
    }
    &__right-text{
        margin-bottom: 20px;
    }
}


.team{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 70px;
    &__text{
        max-width: 800px;
        margin: 0 auto;
        text-align: center;
    }
    &__inner{
        margin-top: 30px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    &__box{
        margin: 0 15px;
        position: relative;
        height: 337px;
        margin-bottom: 70px;
    }
    &__box-info{
        position: absolute;
        top: 8px;
        bottom: 8px;
        right: 8px;
        left: 8px;
        background-color: rgba(#fff, 0.82);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        padding: 10px 10px 35px 20px;
        opacity: 0;
        transition: opacity .3s;
        &:hover{
            opacity: 1;
        }
    }
    &__box-img{
        height: 100%;
        max-width: 270px;
        object-fit: cover;
        object-position: center;
    }
    &__box-title{
        @extend %msemibold;
    }
    &__box-text{
        font-style: italic;
        padding-bottom: 5px;
        margin-bottom: 15px;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            width: 145px;
            height: 2px;
            background-color: #515151;
            bottom: 0;
            left: 0;
        }
    }
    &__icons-link{
        color: #000;
        font-weight: 700;
    }
}

.portfolio{
    overflow: overlay;
    margin-top: 70px;
    &__buttons{
        text-align: center;
        margin: 50px 0;
    }
    &__buttons-btn{
        @extend %msemibold;
        border: 2px solid #3e3d3d;
        background-color: transparent;
        padding: 10px 20px;
        transition: background-color .3s;
        &:hover{
            background-color: #3e3d3d;
            color: #fff;
        }
    }
    &__buttons-btn + .portfolio__buttons-btn{
        margin-left: 5px;
    }
    &__text{
        max-width: 800px;
        text-align: center;
        margin: 0 auto;
    }
    &__inner{
        margin-bottom: 30px;
        margin-left: 180px;
    }
  
    &__box-img{
        height: 100%;
        width: 410px;
        object-fit: cover;
    }
    &__box-img:nth-child(1){
        height: 415px;
    }
    &__box-img:nth-child(2){
      height: 300px;
    }
    &__box-img:nth-child(3){
      height: 200px;
    }
    &__box-img:nth-child(4){
      height: 440px;
    }
    &__box-img:nth-child(5){
        height: 485px;
    }
    &__box-img:nth-child(6){
        height: 386px;
        
    }
    &__box-img:nth-child(7){
        height: 270px;
        
    }
    &__box-img:nth-child(8){
        height: 245px;
    }
    
}


.prices{
    padding-top: 60px;
    background: #e3e3e3;

    &__box-title{
        text-transform: uppercase;
        @extend %msemibold;
        margin-bottom: 25px;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            width: 90px;
            height: 1px;
            background-color: #3e3d3d;
            right: 65px;
            bottom: -51px;
    }
        &::before{
            content: '';
            position: absolute;
            width: 90px;
            height: 1px;
            background-color: #3e3d3d;
            left: 65px;
            bottom: -51px;
        }
    }
   
    &__text{
        max-width: 800px;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 80px;
    }
    &__inner{
        display: flex;
        justify-content: space-around;
        text-align: center;
        flex-wrap: wrap;
    }
    &__box{
        background-color: #fff;
        width: 360px;
        padding: 40px 0 60px 0;
        margin: 0 15px 80px;
    }
    &__icon{
        padding: 0 40px;
        margin-bottom: 30px;
    }
    &__num{
        margin-bottom: 50px;
        @extend %mbold;
        font-size: 70px;
        line-height: 80px;
        position: relative;
        span{
            position: absolute;
            font-size: 28px;
            line-height: 32px;
            left: 100px;
        }
    }
    &__list{
        margin-bottom: 50px;
    }
    &__lists{
        font-style: italic;
        font-size: 16px;
        line-height: 20px;
    }
    &__btn{
        background-color: transparent;
        cursor: pointer;
        transition: background-color .3s;
        &:hover{
            background-color: #3e3d3d;
            color: #fff;
        }
    }
}

.info{
    background-color: #2d2d2f;
    padding: 50px 0;
    margin-bottom: 40px;
    &__inner{
        display: flex;
        align-items: center;
    }
    &__img{
        margin-right: 40px;
    }
    &__box{
        max-width: 615px;
        margin-right: 130px;
    }
    &__title{
        @extend %msemibold;
        font-size: 16px;
        line-height: 18px;
        color: #fff;
        margin-bottom: 20px;
    }
    &__text{
        color: #888888;
    }
    &__btn{
        color: #fff;
        border: 1px solid #fff;
        transition: background-color .3s;
        &:hover{
            background-color: #fff;
            color: #2d2d2f;
        }
    }
}

.blog{
    &__text{
        max-width: 800px;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 80px;
    }
    &__inner{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin-bottom: 80px;
    }
    &__title{
        padding-top: 40px;
    }
    &__box-img{
        width: 100%;
        height: 410px;
    }
    &__box{
        position: relative;
        width: 400px;
        height: 410px;
    }
    &__box-info{
        color: #fff;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: #2d2d2f;
        padding: 45px 30px 75px 35px;
    }
    &__box-data{
        font-style: italic;
        margin-bottom: 25px;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            width: 150px;
            height: 1px;
            background-color: #454545;
            bottom: -10px;
            left: 0;
        }
    }
    &__box-title{
        text-transform: uppercase;
        @extend %msemibold;
        margin-bottom: 30px;
        padding-left: 13px;
        position: relative;
        &::before{
            position: absolute;
            content: '';
            background-image: url(../images/blog-icon.png);
            width: 4px;
            height: 7px;
            left: 0;
            top: 6px;
        }
    }
    &__box-text{
        color: #949494;
        line-height: 25px;
    }
    &__box-info-two{
        background-color: #555557;
    }
    &__box-info-three{
        background-color: #424244;
    }
    &__box-info-four{
        background-color: #232325;
    }
}

.clients{
    margin-bottom: 70px;
    &__text{
        max-width: 800px;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 70px;

    }
    &__inner{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    &__img{
        padding: 0 10px;
        margin-bottom: 30px;
    }
}

.people{
    color: #fff;
    padding: 70px 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    &__slider{
        max-width: 870px;
        margin: 0 auto;
    }
    &__img{
            width: 105px;
            height: 105px;
            margin: 0 auto;
            border-radius: 50%;
            object-fit: cover;
            object-position: center;
           margin-bottom: 40px;
        }
        &__text{
            font-style: italic;
            font-size: 20px;
            line-height: 25px;
            margin-bottom: 70px;
            padding: 0 15px;
            position: relative;
            &::after {
                position: absolute;
                transform: translateY(50%);
                }
            &::before{
                content: "\e977";
                position: absolute;
                font-family: 'icomoon';
                transform: translate(-100%, -50%);
            }
        }
        &__title{
            text-transform: uppercase;
            @extend %msemibold;
            margin-bottom: 20px;
        }
        &__subtext{
            font-style: italic;
            margin-bottom: 40px;
        }
        .slick-dots li{
            padding: 0 2px;
        }
        .slick-dots{
            display: flex;
            justify-content: center;
        }
        .slick-dots button{
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background-color: #c5c5c5;
            border: none;
            font-size: 0;
            cursor: pointer;
        }
        .slick-active button{
            background-color:#fff;
        }
}

.map{
    position: relative;
    &::before{
        position: absolute;
        content: '';
        background-image: url(../images/map.png);
        width: 67px;
        height: 72px;
        top: 200px;
        left: 650px;
    }
}

.footer{
    color: #949494;
    background-color: #242424;
    margin-top: -6px;
    padding: 60px 0 30px;
    &__logo{
        margin-bottom: 45px;
    }
    &__inner{
        display: flex;
        /* padding-bottom: 50px; */
        margin-bottom: 40px;
        flex-wrap: wrap;
        border-bottom: 1px solid #3e3e3e;
    }
    &__box-info{
        max-width: 360px;
    }
    &__text{
        margin-bottom: 40px;
    }
    &__title{
        text-transform: uppercase;
        @extend %msemibold;
        color: #e3e3e3;
        margin-bottom: 30px;
    }
    &__subtext{
        margin-bottom: 30px;
    }
    &__email-link{
        text-transform: uppercase;
        color: #e3e3e3;
    }
    &__phone-link{
        color: #e3e3e3;
        margin-bottom: 30px;
    }
    &__icons{
        padding-bottom: 50px;
    }
    &__input{
        width: 775px;
        margin-left: 35px;
    }
    &__box-input{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        
    }
    &__input-item{
        color: #fff;
        width: 43%;
        background-color: transparent;
        border: 1px solid #464646;
        padding: 20px;
        margin-bottom: 20px;
        &::placeholder{
            font-style: italic;
            font-family: 'Crimson Text', serif;
            font-size: 14px;
            line-height: 20px;
        }
    }
    &__area{
        width: 100%;
        resize: none;
        padding: 20px;
        background-color: transparent;
        border: 1px solid #464646;
        margin-bottom: 20px;
        box-sizing: border-box;
        &::placeholder{
            font-style: italic;
            font-family: 'Crimson Text', serif;
            font-size: 14px;
            line-height: 20px;
        }
    }
 
    &__btn{
        background-color: #464646;
        color: #e3e3e3;
        @extend %msemibold;

    }
}










@import "media";
